<div class="container align-items-end">
    <hr>
    <div class="row text-left">
        <a class="nav-item nav-link align-items-center" href="/index.html">
            <i class="bi bi-house-door icon-large2"></i><span
                class="d-none d-xxl-inline icon-large fw-bold">　Top Page</span>
        </a>
    </div>
    <hr>
    <div class="row text-left">
        <a class="nav-item nav-link align-items-enter" href="/1.introduction/index.html">
            <i class="bi bi-1-square-fill icon-large2"></i><span class="d-none d-xxl-inline icon-large fw-bold">　はじめに</span>
        </a>
    </div>
    <div class="row text-left">
        <a class="nav-item nav-link align-items-center" href="/2.topic1/index.html">
            <i class="bi bi-2-square-fill icon-large2"></i><span class="d-none d-xxl-inline icon-large fw-bold">　話題提供１</span>
        </a>
    </div>
    <div class="row text-left">
        <a class="nav-item nav-link align-items-center" href="/3.topic2/index.html">
            <i class="bi bi-3-square-fill icon-large2"></i><span class="d-none d-xxl-inline icon-large fw-bold">　話題提供２</span>
        </a>
    </div>
    <div class="row text-left">
        <a class="nav-item nav-link align-items-center" href="/4.discussion/index.html">
            <i class="bi bi-4-square-fill icon-large2"></i><span class="d-none d-xxl-inline icon-large fw-bold">　指定討論</span>
        </a>
    </div>

    <hr>

    <div class="row text-left">
        <a class="nav-item nav-link align-items-center" href="/5.message/index.html">
            <i class="bi bi-envelope icon-large2"></i><span class="d-none d-xxl-inline icon-large fw-bold">　メッセージ</span>
        </a>
    </div>

    <hr>

    <div class="row text-left">
        <a class="nav-item nav-link align-items-center" href="/6.task/index.html">
            <i class="bi bi-controller icon-large2"></i><span class="d-none d-xxl-inline icon-large fw-bold">　課題体験</span>
        </a>
    </div>

    <br><br>
    <div class="d-none d-xxl-block text-center">
        <div class="card bg-light" style="width: 150px; height: 150px;">
            <div class="card-body text-center">
                <img src="/img/QR.png" class="img-fluid" alt="QRcode" style="width: 120px; height: 120px;">
            </div>
        </div>
    </div>


    <!-- 
    <div class="text-center">
        <div class="btn btn-white btn-lg rounded-pill fw-bold d-grid"><i class="bi bi-controller icon-large2"></i></div>
    </div>
    <div class="text-center d-none d-xxl-block">
        <div class="btn btn-dark btn-lg rounded-pill fw-bold d-grid">体験する</div>
    </div> 
    
    ポストボタンみたいなのを作る
    -->
</div>